body {
    background: #ff00ff;
    display: grid;
    grid-template-columns: 1fr 535px 1fr;
    grid-template-rows: 70px 535px 1fr;
}

#gameboard {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    /*for the squares */
    grid-template-columns: 175px 175px 175px;
    grid-template-rows: 175px 175px 175px;
    grid-gap: 5px;
    font-size: 10em;
}

aside {
    grid-row: 2;
    text-align: center;
}

.playerNames {
    font-size: 1.5em;
}

header {
    text-align: center;
    grid-row: 1;
    grid-column: 2;
    padding: 5px;
}

#ttt { 
    font-size: 2em;
}

#playerOne {
    grid-column: 1;
}

#playerTwo {
    grid-column: 3;
}

button {
    min-width: 105px;
}

.square {
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 800px) {
    body {
        /* change to grid*/
        grid-template-columns: 1fr 200px 200px 1fr;
        /* left padding, centers for gameboard, right padding*/
        grid-template-rows: 70px 130px 200px 200px;
        /* header, asides, gameboard*/
    }

    header {
        grid-column: 1 / span 4;
        grid-row: 1;
    }

    aside {
        grid-row: 2;
    }

    #playerOne {
        grid-column: 2;
        border-right: 1px solid black;
        ;
    }

    #playerTwo {
        grid-column: 3;
        border-left: 1px solid black;
        ;
    }

    #gameboard {
        grid-row: 3;
        grid-column: 2 / span 2;
        /*for the squares */
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 130px 130px 130px;
        grid-gap: 5px;
        font-size: 7em;
    }
}